@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #3c3a39;
  color: white;
}

#logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.menu-bars {
  background: transparent;
  border: none;
  outline: none;
}

.menu-bars i {
  width: 18px;
  height: 12px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: #1c1a19;
  color: white;
  padding: 10%;
  position: relative;
  padding-bottom: 20vh;
}

.intro-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.intro-greet {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.intro-me {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
}

.intro-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.social {
  display: flex;
}

.social-link {
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  transition: 350ms;
}

.social-link:hover {
  background-color: rgba(255, 255, 255, 0.096);
}

.social-icon {
  height: 20px;
} 
