@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

hr {
  width: 80vw;
  margin-top: 100px;
}

body a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #3c3a39;
  color: white;
}

#logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.menu-bars {
  background: transparent;
  border: none;
  outline: none;
}

.menu-bars i {
  width: 18px;
  height: 12px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

.intro,
.about-me,
.stacks {
  color: white;
  position: relative;
  padding: 15vh 8%;
}

.intro {
  /*padding: 10%;
  padding-bottom: 20vh;*/
  background: url("../media/intro-icon.svg") #1c1a19 no-repeat 100% 150% / 45%;
}

.about-me {
  background: url("../media/about-icon.svg") #1c1a19 no-repeat 100% 16.5% / 45%;
}

.intro-greet,
.about-me h2 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 68px;*/
  /*line-height: 64px;*/
  letter-spacing: 0.37px;
}

.intro-greet {
  font-size: 56px;
  line-height: 64px;
}

.about-me h2 {
  font-size: 68px;
}

.intro-me {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
}

.intro-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social {
  display: flex;
}

.social-link {
  padding: 5px;
  background-color: transparent;
  transition: 350ms;
}

.social-link:hover {
  background-color: rgba(255, 255, 255, 0.096);
}

.social-icon {
  height: 20px;
  padding: 0 1vh;
  margin: 10px 0;
}

/*
.about-me-article,
.stacks {
  position: relative;
  padding-bottom: 20vh;
  margin-top: 85px;
}*/

.about-me,
.about-me-article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  align-self: start;
  margin-top: 50px;
  width: 54%;
}
/*
.about-me-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
*/
.list-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  padding: 5px;
}

.languages {
  list-style: inside url('../media/rectangle.svg');
}

.frameworks {
  list-style: inside url('../media/square.svg');
}

.skills {
  list-style: inside url('../media/circle.svg');
}
